.img-backdrop{
  display: block;
  position: absolute;
  height: 100%;
  width:100%;
  background: url('/assets/images/vishnu.jp2') center center no-repeat;
  background-size: cover;
}

.btn-outline{
  background: none;
  border: 1px solid red;
  color: red;
}

.vert-center-div{
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
}