.markdown-body {
  font-size: 19px;
}
.markdown-body .highlight {
  border-radius: 4px;
}
header {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

article .meta time {
  font-size: 0.8rem;
}

article .meta .tags code {
  font-size: 0.6rem;
  margin-right: 0.3rem;
}

article .meta h1.title {
  margin-top: 0px;
}

article .meta h1.title p {
  margin-bottom: 0px;
}

article .meta .title code {
  background: none;
}
