body {
  color: #f0f0f8;
  background-color: #29292c;
}

a {
  color: #ffe7a3;
}

.markdown-body code, .markdown-body tt {
  background: #000;
}
.markdown-body h1 { border-bottom-color: #383838; }
.markdown-body h2 { border-bottom-color: #383838; }
